{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="account_short_message_area">
    <h1>{% trans "Register" %}</h1>

<p class="short_message">{% trans "You are about to use your Google account to login to onelawyer.org. As a final step, please confirm the email address below:" %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="login_button_sm" type="submit">{% trans "Register" %}</button>
</form>
</div>
{% endblock %}
