{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Reset you password" %}{% endblock %}

{% block content %}
<div class="account_short_message_area">
    <h1>{% trans "Reset you password" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p class="short_message">{% trans "We have sent you an e-mail to reset the password. Please contact us if you do not receive it within a few minutes." %}</p>
</div>
{% endblock %}
