{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change your password" %}{% endblock %}

{% block content %}
<div class="account_short_message_area">
    <h1>{% if token_fail %}{% trans "Invalid token for password reset" %}{% else %}{% trans "Change your password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p class="short_message">{% trans "The password reset link was invalid. Very likely it has been used. Please request a" %}
            <a href="{{ passwd_reset_url }}">{% trans "new request on Password Reset." %}</a></p>
    {% else %}
        {% if form %}
            <form class="signup" method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="pw_set_button" name="action" value="{% trans 'Change your password' %}"/>
            </form>
        {% else %}
            <p class="short_message">{% trans 'Your password is changed now.' %}</p>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
