{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="account_short_message_area">
<h1>{% trans "Register" %}</h1>

<p class="short_message">{% trans "Already have an account? Then please" %}<a href="{{ login_url }}"> {% trans "Log in" %}</a>.</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" class="login_button_sm">{% trans "Submit" %}</button>
</form>
</div>

{% endblock %}
