{% load static %}

<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="One Lawyer 搵律師 － 搜尋法律服務">
<meta name="keywords" content="證婚,離婚,買樓,賣樓,物業轉名,保釋,遺囑,平安紙,破產,律師收費比較">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">

<!-- Favicon icon -->
<link rel="apple-touch-icon-precomposed" href="{% static 'img/favicon/cropped-favicon-180x180.png' %}" />
<link rel="icon" href="{% static 'img/favicon/cropped-favicon-32x32.png' %}" sizes="32x32" />
<link rel="icon" href="{% static 'img/favicon/cropped-favicon-192x192.png' %}" sizes="192x192" />

<!-- Fonts -->
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css" media="all" />

<!-- Main style -->
<link rel="stylesheet" href="{% static 'css/gt3.gallery.css' %}" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'css/theme.css' %}" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'css/base-grid.css' %}" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'css/responsive.css' %}" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'css/template.css' %}" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'css/adslider.css' %}" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'css/gridview.css' %}" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'css/account_layout.css' %}" type="text/css" media="all" />