{% load i18n %}

<footer class="main_footer fadeOnLoad clearfix bg-color-01" id="footer">
	<div class="copyright align-left bg-color-03 bg_seo_footer">
		<div class="container">
			<div class="row custom-01 seo_footer_chi" style="margin: 0 auto;">
			<div class="seo_footer">
			<p><strong><a href="/wedding/1a/">結婚</a></strong><br>
			<a href="/wedding/1c/">婚姻登記</a><br>
			<a href="/wedding/1b/">證婚</a><br>
			<a href="/wedding/1a/2a/">律師樓簽紙</a><br>
			<a href="/wedding/1a/2a/3c/">特別日子舉行婚禮</a></p>

			<p><strong><a href="/divorce/2a/">離婚</a></strong><br>
			<a href="/divorce/2a/">雙方同意離婚</a><br>
			<a href="/divorce/2b/">單方面離婚</a><br>
			<a href="/divorce/2b/3b/">爭奪子女撫養權</a><br>
			<a href="/divorce/2b/3b/">爭奪婚姻居所</a><br>
			<a href="/divorce/2b/3b/">爭拗贍養費</a><br>
			<a href="/divorce/2b/3b/">爭拗財產分配</a></p>

			<p><strong><a href="/bankrupt/4a/">破產、債務重組</a></strong><br>
			<a href="/bankrupt/4a/4a1/">申請他人破產</a><br>
			<a href="/bankrupt/4a/4a2/">自行申請破產</a><br>
			<a href="/bankrupt/4b/">債務重組</a></p>
			</div>
			<div class="seo_footer">
			<p><strong>歧視</strong><br>
			<a href="/discrimination/5a/5a1/">性別歧視</a><br>
			<a href="/discrimination/5a/5a2/">懷孕歧視</a><br>
			<a href="/discrimination/5a/5a3/">性騷擾</a><br>
			<a href="/discrimination/5b/">殘疾歧視</a><br>
			<a href="/discrimination/5c/">家庭崗位歧視</a><br>
			<a href="/discrimination/5d/">種族歧視</a></p>

			<p><strong><a href="/employment/6a/">勞工</a></strong><br>
			<a href="/employment/6a/6a3/">外傭</a><br>
			<a href="/employment/6b/6b2/">強積金(MPF)</a><br>
			<a href="/employment/6b/6b1/">產假</a><br>
			<a href="/employment/6b/6b1/">勞保</a><br>
			<a href="/employment/6b/6b1/">花紅薪金糾紛</a></p>
			</div>
			<div class="seo_footer">

			<p><strong><a href="/property/7a/">物業</a></strong><br>
			<a href="/property/7a/">買樓</a><br>
			<a href="/property/7b/">租樓租屋</a><br>
			<a href="/property/7c/">賣樓</a><br>
			<a href="/property/7d/">轉名契</a><br>
			<a href="/property/7e/">按揭</a><br>
			<a href="/property/7f/">贖樓</a><br>
			<a href="/property/7e/">轉按</a><br>
			<a href="/property/7a/">印花稅</a><br>
			<a href="/service/85/?f=______D">甩名</a></p>
			</div>
			<div class="seo_footer seo_right">

			<p><strong><a href="/company/8b/">公司事宜</a></strong><br>
			<a href="/company/8a/">簽合同</a><br>
			<a href="/company/8b/8b1/">成立有限公司</a><br>
			<a href="/company/8b/8b2/">成立擔保有限公司</a><br>
			<a href="/company/8b/8b3/">成立慈善團體</a><br>
			<a href="/company/9/">公司清盤</a><br>
			<a href="/company/8c/">商業登記</a><br>
			<a href="/company/8d/">註冊商標</a><br>
			<a href="/company/8d/">註冊專利</a><br>
			<a href="/company/10/">公司秘書</a><br>
			<a href="/company/11/">周年報表</a></p>

			</div>
			<div class="seo_footer seo_right">
			<p><strong><a href="/probate/12a/">遺囑、遺產承辦</a></strong><br>
			<a href="/probate/12a/">訂立遺囑</a><br>
			<a href="/probate/12a/12a1/">海外遺產</a><br>
			<a href="/probate/12a/12a2/">本地遺產</a><br>
			<a href="/probate/12b/">遺產承辦</a></p>

			<p><strong><a href="/criminal/13a/">刑事案件</a></strong><br>
			<a href="/criminal/13a/">申請保釋/擔保</a><br>
			<a href="/criminal/13b/">求情</a><br>
			<a href="/criminal/13c/">過堂</a><br>
			<a href="/criminal/13b/">聘請大律師</a><br>
			<a href="/criminal/13d/13d1/">廉署(ICAC)調查</a><br>
			<a href="/criminal/13d/13d2/">海關調查</a><br>
			<a href="/criminal/13d/13d3/">交通罪行扣分</a><br>
			<a href="/criminal/13d/13d3/13d3b/">不小心駕駛</a><br>
			<a href="/criminal/13d/13d3/13d3b/">危駕、藥駕、醉駕</a></p>
			</div>
			</div>

			<div class="row custom-01 seo_footer_eng" style="margin: 0 auto;">
			<div class="seo_footer">
			<p><strong><a href="/wedding/1a/">Marriage</a></strong><br>
			<a href="/wedding/1c/">Registration of marriage</a><br>
			<a href="/wedding/1b/">Civil celebrant</a><br>
			<a href="/wedding/1a/2a/">Conducted in the law firm</a><br>
			<a href="/wedding/1a/2a/3c/">Special days</a></p>

			<p><strong><a href="/divorce/2a/">Divorce</a></strong><br>
			<a href="/divorce/2a/">Joint application<br>
			<a href="/divorce/2b/">Unilateral divorce petition<br>
			<a href="/divorce/2b/3b/">Dispute on children arrangement<br>
			<a href="/divorce/2b/3b/">Dispute on housing<br>
			<a href="/divorce/2b/3b/">Dispute on assets</p>

			<p><strong><a href="/bankrupt/4a/">Bankruptcy & Debt Restructuring</a></strong><br>
			<a href="/bankrupt/4a/4a1/">Creditor bankrupting the debtor</a><br>
			<a href="/bankrupt/4a/4a2/">Debtor filing for bankruptcy</a><br>
			<a href="/bankrupt/4b/">Debt restructuring</a></p>
			</div>
			<div class="seo_footer">
			<p><strong>Discrimination</strong><br>
			<a href="/discrimination/5a/5a1/">Sex discrimination</a><br>
			<a href="/discrimination/5a/5a2/">Pregnancy discrimination</a><br>
			<a href="/discrimination/5a/5a3/">Sexual Harassment</a><br>
			<a href="/discrimination/5b/">Disability discrimination</a><br>
			<a href="/discrimination/5c/">Family status discrimination</a><br>
			<a href="/discrimination/5d/">Race discrimination</a></p>

			<p><strong><a href="/employment/6a/">Employment</a></strong><br>
			<a href="/employment/6a/6a3/">Hiring domestic helper</a><br>
			<a href="/employment/6b/6b2/">MPF</a><br>
			<a href="/employment/6b/6b1/">Maternal leaves</a><br>
			<a href="/employment/6b/6b1/">Labour insurances</a><br>
			<a href="/employment/6b/6b1/">Leaves and salary disputes</a></p>

			</div>
			<div class="seo_footer">

			<p><strong><a href="/property/7a/">Property</a></strong><br>
			<a href="/property/7a/">Buy a flat</a><br>
			<a href="/property/7b/">Tenancy</a><br>
			<a href="/property/7c/">Sell a flat</a><br>
			<a href="/property/7d/">Transfer of title</a><br>
			<a href="/property/7e/">Mortgage</a><br>
			<a href="/property/7f/">Release mortage</a><br>
			<a href="/property/7a/">Stamp duty</a><br>
			<a href="/service/85/?f=______D">Remove title</a></p>

			</div>
			<div class="seo_footer">

			<p><strong><a href="/company/8b/">Corporate issues</a></strong><br>
			<a href="/company/8a/">Signing contracts</a><br>
			<a href="/company/8b/8b1/">Incorporating limited company</a><br>
			<a href="/company/8b/8b2/">Incorporating limited company by guarantee</a><br>
			<a href="/company/8b/8b3/">Applying charity status</a><br>
			<a href="/company/9/">Liquidation</a><br>
			<a href="/company/8c/">Business registration</a><br>
			<a href="/company/8d/">Trademark registration</a><br>
			<a href="/company/8d/">Patent registration</a><br>
			<a href="/company/10/">Company secretary</a><br>
			<a href="/company/11/">Annual returns</a></p>

			</div>
			<div class="seo_footer">
			<p><strong><a href="/probate/12a/">Will & Probate</a></strong><br>
			<a href="/probate/12a/">Will</a><br>
			<a href="/probate/12a/12a1/">Overseas assets</a><br>
			<a href="/probate/12a/12a2/">Local assets</a><br>
			<a href="/probate/12b/">Probate</a></p>

			<p><strong><a href="/criminal/13a/">Criminal matters</a></strong><br>
			<a href="/criminal/13a/">Bail application</a><br>
			<a href="/criminal/13b/">Mitigation</a><br>
			<a href="/criminal/13c/">Mention</a><br>
			<a href="/criminal/13b/">Hiring a barrister</a><br>
			<a href="/criminal/13d/13d1/">ICAC investigation</a><br>
			<a href="/criminal/13d/13d2/">Customs investigation</a><br>
			<a href="/criminal/13d/13d3/">Driving offence points</a><br>
			<a href="/criminal/13d/13d3/13d3b/">Careless driving</a><br>
			<a href="/criminal/13d/13d3/13d3b/">Dangerous, drunk or drugged driving</a></p>
			</div>
			</div>
		</div>
	</div>
	<div class="copyright align-left bg-color-03">
		<div class="container">
			<div class="row custom-01">
				<div class="span12">
					<p>
						© 2018 OneLawyer.<span class="custom-04">|</span><a href="/disclaimer">{% trans 'Disclaimer' %}</a><a class="custom-06" href="/privacy-policy">{% trans 'Privacy Policy' %}</a><a class="custom-06" href="/backers">{% trans 'Backers' %}</a>
						<br>{% trans 'verified-text' %}
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>
<a href="#" id="back_to_top"></a>
